In [1]:
import pandas as pd

In [17]:
menu = pd.read_csv('/home/jo/Desktop/PortfolioProject/restaurant/menu_items.csv')
order = pd.read_csv('/home/jo/Desktop/PortfolioProject/restaurant/order_details.csv')
meta = pd.read_csv('/home/jo/Desktop/PortfolioProject/restaurant/restaurant_db_data_dictionary.csv')

In [27]:
print(menu.dtypes)
print(" ")
print(order.dtypes)
print(" ")
print(meta.dtypes)

menu_item_id      int64
item_name        object
category         object
price           float64
dtype: object

order_details_id             int64
order_id                     int64
order_date          datetime64[ns]
order_time          datetime64[ns]
item_id                    float64
dtype: object

Table          object
Field          object
Description    object
dtype: object

In [24]:
order.sample(5)

       order_details_id  order_id order_date          order_time  item_id
3972               3973      1771 2023-01-30 2024-08-26 19:46:17    131.0
8260               8261      3627 2023-03-02 2024-08-26 18:45:21    123.0
3445               3446      1527 2023-01-26 2024-08-26 15:14:30    116.0
11396             11397      5011 2023-03-26 2024-08-26 12:55:44    113.0
9884               9885      4327 2023-03-14 2024-08-26 16:54:36    119.0

In [26]:
# Changeing data types
order['order_time'] = pd.to_datetime(order['order_time'])

In [ ]:
order['order_date'] = pd.to_datetime(order['order_date'])

In [28]:
import re

def clean_name(filename):
    """
    Cleans a table name by removing or replacing unwanted characters.

    Args:
        filename (str): The original table name or filename.

    Returns:
        str: The cleaned table name.
    """
    # Convert to lowercase
    cleaned_name = filename.lower()

    # Replace spaces, hyphens, slashes, and backslashes with underscores
    cleaned_name = re.sub(r'[ \-/\\]', '_', cleaned_name)

    # Remove all other special characters (keeping only alphanumeric and underscores)
    cleaned_name = re.sub(r'[^a-z0-9_]', '', cleaned_name)

    # Ensure the name does not start with a number (optional)
    if cleaned_name and cleaned_name[0].isdigit():
        cleaned_name = '_' + cleaned_name

    return cleaned_name

In [31]:
menu.columns = [clean_name(x) for x in menu.columns]
order.columns = [clean_name(x) for x in order.columns]
meta.columns = [clean_name(x) for x in meta.columns]

In [32]:
# Mapping

# mapping data types of sql

dtypesMapping = {
        'int64': 'BIGINT',
        'int32': 'INT',
        'int16': 'SMALLINT',
        'int8': 'TINYINT',
        'float64': 'DOUBLE',
        'float32': 'FLOAT',
        'complex128': 'VARCHAR',  # SQL does not have a direct complex type
        'complex64': 'VARCHAR',   # SQL does not have a direct complex type
        'bool': 'BOOLEAN',
        'object': 'VARCHAR',      # For object type, we use VARCHAR
        'string': 'VARCHAR',      # For new pandas string type
        'category': 'VARCHAR',    # SQL does not have a direct category type
        'datetime64[ns]': 'TIMESTAMP',
        'timedelta64[ns]': 'INTERVAL',  # Note: SQL support for intervals varies
        'period': 'VARCHAR',      # No direct SQL type for pandas Period
        'interval': 'VARCHAR',    # No direct SQL type for pandas Interval
        'Int32': 'INTEGER',       # Nullable integer
        'Float32': 'FLOAT',       # Nullable float
        'String': 'VARCHAR',      # Nullable string
        'Boolean': 'BOOLEAN'      # Nullable boolean
    }

In [33]:
col_menu = ", ".join("{} {}".format(n, d) for (n, d) in zip(menu.columns, menu.dtypes.replace(dtypesMapping)))
col_order = ", ".join("{} {}".format(n, d) for (n, d) in zip(order.columns, order.dtypes.replace(dtypesMapping)))
col_meta = ", ".join("{} {}".format(n, d) for (n, d) in zip(meta.columns, meta.dtypes.replace(dtypesMapping)))